<div id="company-form"></div>
<%= render :partial => 'form_items', :object => :company_form_items %>
<%= ext_form_for :company,
                 :element => 'company-form',
                 :form_items => :company_form_items,
				  :title=>:grid_edit.l << " " << :l_company.localize,
                 :mode => :edit %>