<div id="supplier-form"></div>
<%= render :partial => 'form_items', :object => :supplier_form_items %>
<%= ext_form_for :supplier,
                 :element => 'supplier-form',
                 :form_items => :supplier_form_items,
                 :mode => :show %>